* {

}


body {
  width: 100%;
  //padding: 3em;
  font-family: Helvetica, Arial, sans-serif;
  font-family: avenir;
  margin: 0 auto;
}

.logo{
  background-color: #741B03;
  margin: 0;
}

.logo img {
    width: 75%;
    max-width: 900px;
}

.address {
  margin: 0;
  background-color: #F4F2F2;
  padding: 1em 25%;
}

.nav, .res, h2 {
  font-family: museo-slab;
}

.nav {
  background-image: url('images/restaurantbar.jpg');
  position: relative;
  height: auto;
  height: 25%;
  width: auto;
  width: 100%;
  //opacity: 50%;
  background-color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
}

div, section, main, aside, header, footer {
  //border: 1px solid lightgray;
  padding: .5em;
  margin-bottom: 1em;
}


header {
  text-align: center;
  padding: 0;
}

ul {
      list-style-type: none;
      padding: 0;
      width: 60%;
      margin: 0 auto;
    }

li {
  padding: .75em 0;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.nav li {
  border: 2px solid lightgray;
  margin: .5em auto;
  padding: .25em;
  width: 150px;
  //text-align: center;
}

h2 {
  text-align: center;
  border: 2px solid lightgray;
  width: 60%;
  margin: .5em auto;
  padding: .5em 0;
}

p{
  width: 60%;
  margin: 0 auto;
  padding: 1.5em 0;
}

.res {
  text-align: center;
  text-decoration: underline;
  border: 2px solid lightgray;
  width: 50%;
  margin: .5em auto;
  padding: .5em 0;
}

.features{
  border: none;
  margin: 0 auto;
  padding: .5em 0;
}

.features li {
  padding: 0;
}

footer {
  text-align: center;
}

footer p {
  text-align: left;
}
